

.btn{
	&,
	&:link,
	&:visited{
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all .2s;
		position: relative;
		font-size: 1.6rem;


		//Chnage for the <button> element
		border: none;
		cursor: pointer;
	}

	&:hover{
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba(0,0, 0,.2);
		
		&::after{
			transform: scaleX(1.4) scaleY(1.5);
			opacity: 0;
	}
	
	}
	&:active {
		transform: translateX(-1px);
		box-shadow: 0 .5rem 1rem rgba(0,0, 0,.2);
	}

	&--white{
		background-color: $color-white;
		color: $color-gray-dark;
	
	&::after{
		background-color: $color-white;
		}

	}

	&--blue{
		background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
		color: $color-white;
	
	&::after{
		background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
		}

	}

	&::after{
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .4s;
	}

	&--animated{
		animation: moveInBottom .5s ease-out .75s;
		animation-fill-mode: backwards;
	}

}

.btn-text {
	&:link,
	&:visited{
		font-size: 1.6rem;
		color: $color-primary;
		display: inline-block;
		text-decoration: none;

		
	}

	&:hover{
		color: $color-white;
		background-color: $color-primary;
		border-radius: .5rem;
		padding: .8rem;
		box-shadow: 0 1rem 2rem rgba($color-black, .15);
	}

	&:active, &:focus{
		outline: none;
		box-shadow: 0 1rem 2rem rgba($color-black, .15);
	}

}